<label for={{type}} class="profile-input-row">
	<input
		class="profile-input"
		type={{type}}
		name={{type}}
		id={{type}}
		value={{value}}
		placeholder={{placeholder}}
	/>
	<span class="label-text">{{placeholder}}</span>
	<span class="invalid-text">{{errorText}}</span>
</label>
